__pycache__
build
dist
polisy
*.xlsx
__pycache__/regon_api.cpython-39.pyc
build/automatyczna_rejestracja_polis/EXE-00.toc
*.pyc
*.spec
*.zip
*.manifest
*.toc
*.pkg
build/automatyczna_rejestracja_polis/warn-automatyczna_rejestracja_polis.txt
*.pyz
*.html
*.exe
dist/imiona.txt
.~lock.DTESTY.xlsx#
zrobić input z imieniem, bo wielu obcokrajowców.txt
practice.py
practice.py
*.pdf
practice.py
ocry.py
pyinstaller --hiddenimport win32timezone -F automatyczna_rejestracja_polis.py
ocry.py
rejestracja polis pyinstaller command.txt
.env/
reg.ico
imiona_0.txt
2014 BAZA MAGRO.xlsm
creds.py
